@page
@model big_huge_api_thing.Pages.FirstTryModel
@{
    ViewData["Title"] = "Bungus";
}

<div class="text-center">
    <h1 class="display-4">bungus</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">super bungus</a>.</p>
</div>